<div class="container">    
    <form>
      <h1>Editar Película</h1>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" class="form-control" value="<%= movie.nombre %>" required>
        </div>
        <div class="col-md-6 form-group">
          <label for="genero">Género:</label>
          <input type="text" id="genero" name="genero" class="form-control" value="<%= movie.genero %>" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="fecha_estreno">Fecha de Estreno:</label>
          <input type="date" id="fecha_estreno" name="fecha_estreno" class="form-control" value="<%= movie.fecha_estreno %>" required>
        </div>
        <div class="col-md-6 form-group">
          <label for="director_id">Director:</label>
          <select id="director_id" name="director_id" class="form-control" required>
            <option value="0">Seleccione director</option>
            <% directors.forEach(director => { %>
            <option value="<%= director.id %>" <%= movie.director_id === director.id ? 'selected' : '' %>>
              <%= director.nombres %> <%= director.apellidos %>
            </option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="vista">Vista:</label>
          <select id="vista" name="vista" class="form-control" required>
            <option value="true" <%= movie.vista ? 'selected' : '' %>>Sí</option>
            <option value="false" <%= !movie.vista ? 'selected' : '' %>>No</option>
          </select>
        </div>
        <div class="col-md-6 form-group">
          <label for="calificacion">Calificación:</label>
          <input type="number" id="calificacion" name="calificacion" class="form-control" value="<%= movie.calificacion %>" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="critica">Crítica:</label>
          <textarea id="critica" name="critica" class="form-control" rows="2" required><%= movie.critica %></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <button type="submit" id="guardarCambiosBtn" onclick="Actualizar(<%= movie.id %>)" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </form>
  </div>
  
  <style>
    
  
  .container {
    margin-top: 2vh;
  width: 60%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
  
   
  
    h1 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }
  
    input, select, textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    #btnGuardar {
      margin-top: 20px;
    }
  
    button {
      padding: 10px 20px;
      background-color: #007bff;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #0056b3;
    }
  </style>


<script>
  async function Actualizar(id){
      
        const nombre = document.getElementById('nombre').value;
        const genero = document.getElementById('genero').value;
        const fecha_estreno = document.getElementById('fecha_estreno').value;
        const director_id = document.getElementById('director_id').value;
        const vista = document.getElementById('vista').value;
        const calificacion = document.getElementById('calificacion').value;
        const critica = document.getElementById('critica').value;

        const requestBody = {
            nombre,
            genero,
            fecha_estreno,
            director_id,
            vista,
            calificacion,
            critica
        };

      try {
        const response = await fetch(`/movies/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        });
  
        if (!response.ok) {
          throw new Error('Error al actualizar la película');
        }
  
        console.log('Película actualizada correctamente');
        window.location.href = '/movies/home';
  
      } catch (error) {
        console.error('Error al actualizar la película:', error);
        
      }
    }
  </script>