<div class="container">
  <div class="titleHome">

    <h1 class="mt-5 title-page">El baul cinéfilo</h1>
    <a href="/movies/create">
      <button class="btn btn-primary">CREAR RESEÑA</button>
    </a>
    
  </div>
  <div class="row card-body">
    <% movies.forEach(movie => { %>
    <div class="col-md-4">
      <div class="card mb-4" style="width: 18rem">
        <img
          src="/images/movie.jpg"
          class="card-img-top"
          alt="movie image"
        />
        <div class="card-body">
          <h5 class="card-title"><%= movie.nombre %></h5>
          <p class="card-text">
            <strong class="label-title">Género:</strong> <%= movie.genero %><br />
            <strong class="label-title">Fecha de Estreno:</strong> <%=
            movie.fecha_estreno %><br />
            <strong class="label-title">Director:</strong> <%=
            movie.director.nombres %> <%= movie.director.apellidos %><br />
            <strong class="label-title">Vista:</strong> <%= movie.vista ? 'Sí' :
            'No' %><br />
            <strong class="label-title">Calificación:</strong> <%=
            movie.calificacion %><br />
            <strong class="label-title">Crítica:</strong> <%= movie.critica
            %><br />
            <div class="row btn-actions">
              <button class="btn btn-primary" onclick="editarPelicula('<%= movie.id %>')">Editar</button>
            </div>
            <div class="row btn-actions">
              <button class="btn btn-danger" onclick="abrirConfirmacionEliminar('<%= movie.id %>','<%= movie.nombre %>')">Eliminar</button>
            </div>
          </p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<div id="overlay" class="overlay"></div>
<dialog id="confirmDeleteDialog">
  <form method="dialog">
    <h5>Confirmar Eliminación</h5>
    <p id="mensajeDialog"></p>
    <menu>
      
      <button type="button" class="btn btn-secondary" id="cancelDelete" onclick="cancelDelete()" value="cancel">Cancelar</button>
      <button type="submit" class="btn btn-danger" id="confirmDeleteButton" value="default">Eliminar</button>
    </menu>
  </form>
</dialog>
<dialog id="confirmacionEliminar">
  <h5>¡Película eliminada!</h5>
  <p>La película ha sido eliminada correctamente.</p>
  <button onclick="cerrarConfirmacionEliminar()">Cerrar</button>
</dialog>

<script src="/js/home.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/home.css" type="text/css">

