<div class="container mt-5">
  <h1>Lista de Directores</h1>
  <a href="director/create">
    <button class="btn btn-primary mt-3 mb-3">CREAR DIRECTOR</button>
  </a>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Fecha de Nacimiento</th>
        <th>Cantidad de Películas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(director => { %>
      <tr>
        <td><%= director.id %></td>
        <td><%= director.nombres %></td>
        <td><%= director.apellidos %></td>
        <td><%= director.fecha_nacimiento %></td>
        <td><%= director.cantidad_peliculas %></td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            onclick="editarDirector('<%= director.id %>')"
          >
            Editar
          </button>
          <button
            type="button"
            onclick="abrirConfirmacionEliminar('<%= director.id %>','<%= director.nombres %>')"
            class="btn btn-danger btn-sm"
          >
            Eliminar
          </button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<div id="overlay" class="overlay"></div>
<dialog id="confirmDeleteDialog">
  <form method="dialog">
    <h5>Confirmar Eliminación</h5>
    <p id="mensajeDialog"></p>
    <menu>
      <button
        type="button"
        class="btn btn-secondary"
        id="cancelDelete"
        onclick="cancelDelete()"
        value="cancel"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="btn btn-danger"
        id="confirmDeleteButton"
        value="default"
      >
        Eliminar
      </button>
    </menu>
  </form>
</dialog>
<dialog id="confirmacionEliminar">
  <h5>Director eliminado!</h5>
  <p>El director ha sido eliminada correctamente.</p>
  <button onclick="cerrarConfirmacionEliminar()">Cerrar</button>
</dialog>
<dialog id="noEliminar">
  <h5 style="color: #d84837">No se puede eliminar el director</h5>
  <p style="color: #d84837">TIENE PELICULAS ASOCIADAS.</p>
  <button onclick="cerrarConfirmacionEliminar2()">Cerrar</button>
</dialog>

<style>
  h1 {
    color: #fff;
    font-weight: bold;
  }
</style>

<script src="/js/director/index.js" type="text/javascript"></script>
